h1 {
	color: orange;
	font-size: 200%;
	color: black;
}

h2 {
	color: orange;
	font-size: 150%;
	color: black;
}

h3 {
	color: orange;
	font-size: 150%;
	color: black;
}

p {
	font-family: "Lucida Console";
	text-indent: 20px;
	margin-left: 10px;
}

